
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="registration">
  <h2 class="registration-heading">Registration form</h2>
  <div class="labels">
    <%= f.label :email, class: "email-label mb" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input mb" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "password-label mb" %>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "input mb" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "password-confirm-label mb" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input mb" %>
  </div>

  <div class="actions sign-up-btn mb">
    <%= f.submit "Sign up" %>
  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
