<h1>Listing all articles</h1>
  <%= render "articles/search" %>
  <%= render "articles/result" %>
   <%# <%= @result.title %>
<table>
 <tr>
  <th>Title</th>
  <th>Description</th>
 </tr>
 <% @articles.each do |article| %>
  <tr>
  <td><%= article.title %></td>
  <td><%= article.description %></td>
  </tr>
 <% end %>
 </table>




